body {
    background-color: rgb(70, 65, 139);
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-top: 50px;
}

.card {
    text-align: center;
    max-width: 400px;
    margin: 10px;
}

#text_nota {
    resize: none;
}

.btn {
    margin: 7px;
}